.typing-game-container {
    
    margin: 0 auto;
    padding: 20px;
    background-image: url('https://images.unsplash.com/photo-1648757838556-2ca6ec323d55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    height: 100vh;
    opacity: initial;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .heading {
    font-family: Times, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(249, 255, 254);
    font-size: xx-large;
    padding-top: 100px;
  }

  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .sentence {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: x-large;
    background-color: #98ff79;
    padding: 30px;
    border-radius: 20px;
    font-style: normal;
  }

  .nextchar {
    font-family: Rockwell, Helvetica, sans-serif;
    color: rgb(251, 250, 248);
    font-size: xx-large;
  }

  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
  }
  
  .individualfeatures {
    padding: 10px;
    font-size: larger;
  }
  
  .typing-game-container p {
    margin-bottom: 10px;
  }
  
  .typing-game-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    resize: none;
    height: 50%;
  }
  
  .typing-game-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 8px;
  }
  
  .typing-game-container button:hover {
    background-color: #420636;
  }
  
  .results-container {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .results-container p {
    font-size: 18px;
  }
  
  @media screen and (max-width: 768px) {
    .typing-game-container {
      margin: 0 auto;
      padding: 20px;
      background-image: url('https://images.unsplash.com/photo-1662643500140-7c2fdf816dd2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
      background-size: cover;
      height: fit-content;
      opacity: initial;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

     
  .typing-game-container button:hover {
    background-color: #420636;
  }
  
  .typing-game-container textarea {
    width: 80%;
    padding-right: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    resize: none;
    height: 50%;
  }

  }